<!DOCTYPE html>
<html lang="en">
<head>
    <title>athletes</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--sd-admin style-->
    <!-- Bootstrap Core CSS -->
    <link href="startbs/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="startbs/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="startbs/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        /* Add a gray background color and some padding to the footer */
        footer {
            background-color: #f2f2f2;
            padding: 25px;
        }

        .carousel-inner img {
            width: 100%; /* Set width to 100% */
            margin: auto;
            min-height:200px;
        }

        /* Hide the carousel text when the screen is less than 600 pixels wide */
        @media (max-width: 600px) {
            .carousel-caption {
                display: none;
            }
        }

        /* SEARCH --------------------------------------------------------*/

        .top-search{
            position: relative;
            top: 10px;
            right: -20px;
        }

        #searchform #s{
            color: #acacac;
            font-size: 15px;
            font-family: arial, sans-serif;
            width: 200px;
            height: 29px;
            padding: 0px 40px 0px 10px;
            border: 0;
            background: #ffffff;
            border-left: none;
            border-right: none;
            border-top: 1px  solid #d7d7d6;
            border-bottom: 1px  solid #fff;
            border-radius: 5px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
        }

    </style>
</head>
<body ng-app = "myapp">

<div id="wrapper">

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src = '/images/logo.png' width = 50px /></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/country">Country</a></li>
                    <li class="active"><a href="/athletes">Athletes</a></li>
                    <li><a href="/discipline">Discipline</a></li>

                    <script type="text/javascript">

                        $(document).ready(function() {
                            var lolz = $('#s')
                            var kk = $('#kk');
                            kk.click(function(){
                                alert('Will show the page about: ' + lolz.val());
                                $.post("/googleSearch", {s: lolz.val()}, function (data) {
                                    if (data == 'success')
                                        alert('will show the web page of: ' + lolz);
                                })

                            })

                        });

                    </script>


                    <li>
                        <div class="top-search">




                            <form  method="get" id="searchform" action="/">
                                <div>
                                    <input type="text" value="Goolge Search..." name="enter" class = 'enter' id="s" />
                                    <button type="submit" class="btn btn-default btn-sm" value="click" id='kk'>
                                        <span class="glyphicon glyphicon-search"></span> </button>
                                    <!-- <input type="submit" id="searchsubmit" value=" " /> -->
                                    <!--  <input type="text" name="enter" class="enter" value="" id="lolz"/>
                                     <input type="button" value="click" id="kk" /> -->

                                </div>
                            </form>
                    <!-- <li><a href="#">Contact</a></li> -->
                </ul>

            </div>
        </div>
    </nav>

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search">
                    <img src = '/images/tokyo.png' width = 200px />
                    <!-- /input-group -->
                </li>
                <li>
                <li>
                    <a href="athletes"><i class="fa fa-dashboard fa-fw"></i>Top Swimmers</a>
                </li>
                <li>
                    <a href="athleteslist"><i class="fa fa-table fa-fw"></i> Athletes List</a>
                </li>
                <li>
                    <a href="athletesanalysis"><i class="fa fa-table fa-fw"></i> Analysis</a>
                </li>

            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
    </nav>

    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">All Athletes in Olympics</h1>
                </div>

                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>This table shows all the athletes that have participated in Olympics.</h3>
                        </div>
                        <div class="panel-body">
                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Sex</th>
                                <th>Country</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% data.forEach(function(name){%>
                            <tr>
                                <td><%= name[0]%></td>
                                <td><%= name[2]%></td>
                                <td><%= name[3]%></td>
                            </tr>
                            <%})%>
                            </tbody>
                        </table>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
<footer class="container-fluid text-center">
    <p style="color:black;">Designed and created by Chen XIANG, Chenchen HU, Dhwani KAPOOR, Wen ZHONG @12-12-2016</p>
</footer>

<!--sd-admin style-->
<!-- jQuery -->
<script src="startbs/vendor/jquery/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="startbs/vendor/bootstrap/js/bootstrap.min.js"></script>
<!-- Metis Menu Plugin JavaScript -->
<script src="startbs/vendor/metisMenu/metisMenu.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src="/dist/js/sb-admin-2.js"></script>
<!-- DataTables JavaScript -->
<script src="startbs/vendor/datatables/js/jquery.dataTables.min.js"></script>
<script src="startbs/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
<script src="startbs/vendor/datatables-responsive/dataTables.responsive.js"></script>


<!-- DataTables JavaScript -->
<script src="startbs/vendor/datatables/js/jquery.dataTables.min.js"></script>
<script src="startbs/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
<script src="startbs/vendor/datatables-responsive/dataTables.responsive.js"></script>

<!-- Custom Theme JavaScript -->
<script src="dist/js/sb-admin-2.js"></script>

<!-- Page-Level Demo Scripts - Tables - Use for reference -->
<script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
</script>


</body>
</html>