<!DOCTYPE html>
<html lang="en">
<head>
    <title>athletes</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->

    <!-- Bootstrap Core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <!--data table-->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>

    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        /* Add a gray background color and some padding to the footer */
        footer {
            background-color: #f2f2f2;
            padding: 25px;
        }

        .carousel-inner img {
            width: 100%; /* Set width to 100% */
            margin: auto;
            min-height:200px;
        }

        /* Hide the carousel text when the screen is less than 600 pixels wide */
        @media (max-width: 600px) {
            .carousel-caption {
                display: none;
            }
        }
    </style>
</head>
<body>

<div id="wrapper">

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src = '/images/logo.png' width = 50px /></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/country">Country</a></li>
                    <li class="active"><a href="/athletes">Athletes</a></li>
                    <li><a href="/discipline">Discipline</a></li>
                    <!-- <li><a href="#">Contact</a></li> -->
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </div>
    </nav>


    <!--&lt;!&ndash; Navigation &ndash;&gt;-->
    <!--<div class="navbar-header">-->
    <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">-->
    <!--<span class="sr-only">Toggle navigation</span>-->
    <!--<span class="icon-bar"></span>-->
    <!--<span class="icon-bar"></span>-->
    <!--<span class="icon-bar"></span>-->
    <!--</button>-->
    <!--</div>-->
    <!--&lt;!&ndash; /.navbar-header &ndash;&gt;-->

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search">

                    <!-- /input-group -->
                </li>
                <li>
                    <a href="athletes"><i class="fa fa-dashboard fa-fw"></i>Top Swimmers</a>
                </li>
                <li>
                    <a href="profile"><i class="fa fa-edit fa-fw"></i>Athlete's Profile</a>
                </li>
                <li>
                    <a href="athleteslist"><i class="fa fa-table fa-fw"></i> Athletes List</a>
                </li>

            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
    </nav>

    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Top Ten Swimmers In The History</h1>

                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-tasks fa-5x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge">ABC</div>
                                        </div>
                                    </div>
                                </div>
                                <a href="#">
                                    <div class="panel-footer">
                                        <span class="pull-left">View Details</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /#wrapper -->

<!-- Portfolio Modals -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Project Title</h2>
                        <hr class="star-primary">
                        <img src="img/portfolio/cabin.png" class="img-responsive img-centered" alt="">
                        <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                        <ul class="list-inline item-details">
                            <li>Client:
                                <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                </strong>
                            </li>
                            <li>Date:
                                <strong><a href="http://startbootstrap.com">April 2014</a>
                                </strong>
                            </li>
                            <li>Service:
                                <strong><a href="http://startbootstrap.com">Web Development</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jQuery -->
<script src="/vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="/vendor/metisMenu/metisMenu.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/dist/js/sb-admin-2.js"></script>




<!--test passing data from angularjs to nodejs -->
<div ng-app="myapp" ng-controller="swimmer">
    <!--<p><b>sex:</b> {{sex}}</p>-->

    <ul>
        <li ng-repeat="x in myData">
            {{ x.Name + ', ' + x.Country }}
        </li>
    </ul>
</div>


<p>this show's ejs render result</p>
<table>
    <tr>
        <th>sex</th>
    </tr>
    <% for (var i = 0; i < data.Items.length; i++) { %>
    <tr>
        <td><%= data.Items[i].Sex %></td>
    </tr>
    <% } %>
</table>



<script>
    var myapp = angular.module('myapp',[]);
    myapp.controller("swimmer", Swimmer);

    function Swimmer($scope, $http){
//        $scope.submit = function(){
//            var data = $.param({
//                swimmer: JSON.stringify({
//                    first :$scope.firstname,
//                    last: $scope.lastname
//                })
//            })
//
//        }
//        $http.post("/athletes/", data).success(function(data, status) {
//            console.log('Data posted successfully');
//        })
        $http.get("/profile/")
            .then(function(response) {
                $scope.sex = response.Items[1].Sex;

                alert("reponse:"+ response.Item[1].Sex);
            }, function(response) {
                $scope.sex = "Something went wrong";
            });

    }

</script>




<!--//    var app = angular.module('myApp', []);-->
    <!--//    app.controller('myCtrl', function($scope) {-->
    <!--//        $scope.submit= function(){-->
    <!--//            var data = $.param({-->
    <!--//                book: JSON.stringify({-->
    <!--//                    author: $scope.author,-->
    <!--//                    title : $scope.title,-->
    <!--//                    body : $scope.body-->
    <!--//                })-->
    <!--//            });-->
    <!--//-->
    <!--//            $http.post("/api/book/", data).success(function(data, status) {-->
    <!--//                console.log('Data posted successfully');-->
    <!--//            })-->
    <!--//        }-->
    <!--//    });-->








<!--<script>-->
<!--$(document).ready(function(){-->
<!--$('#first').on('click', 'path', function(e){-->
<!--// this can give us which country the user select-->

<!--e.preventdefault();-->

<!--// next we need to deal with what we have get-->
<!--var countrycode = $(this).attr('class').split(" ")[1].substring(5, 8);-->

<!--var country = {-->
<!--code: countrycode-->
<!--};-->

<!--$.ajax({-->
<!--type: 'get',-->
<!--url: 'country',-->
<!--data: country,-->
<!--success: function(data){-->
<!--//            document.getelementbyid("table").innerhtml = "<li>test</li>";-->
<!--//          $.get( '/country', data, function(data) {-->
<!--document.getelementbyid("table").innerhtml+="<li>" + countrycode + "</li>";-->
<!--alert("yes");-->
<!--//            location.reload();-->
<!--//          });-->
<!--//            alert(data);-->

<!--}-->
<!--});-->
<!--});-->

<!--});-->
<!--</script>-->


</body>
</html>